{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "core/components/header.html" %}
    <main class="homepage">
        <section class="homepage__wrapper container_wrapper">
            <div class="homepage__wrapper--ctn">
                <div class="homepage__wrapper--ctn-calendar">
                    <div id="calendar"></div>
                </div>
                <div class="homepage__wrapper--ctn-content">
                    <div class="homepage__wrapper--ctn-content--summary-ctn">
                        <div class="homepage__wrapper--ctn-content--summary-ctn--header">
                            <div class="homepage__wrapper--ctn-content--summary-ctn--header-title">
                                <div class="homepage__wrapper--ctn-content--summary-ctn--header-title-icon-ctn">
                                    {% include "core/icons/calendar.html" %}
                                </div>
                                <div class="homepage__wrapper--ctn-content--summary-ctn--header-title-description">
                                    <h3 class="homepage__wrapper--ctn-content--summary-ctn--header-title-description-text"> Resumen del día </h3>
                                    <p class="homepage__wrapper--ctn-content--summary-ctn--header-title-description-paragraph"> {{ date  |date:"D, M j, Y" }} </p>
                                </div>
                            </div>
                            <div class="homepage__wrapper--ctn-content--summary-ctn--header-progress">
                                <div class="homepage__wrapper--ctn-content--summary-ctn--header-progress-btn"> 2/5 Registrado </div>
                            </div>
                        </div>
                        <div class="homepage__wrapper--ctn-content--summary-ctn--weights">
                            <div class="homepage__wrapper--ctn-content--summary-ctn--weights-card">
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--material">Plástico</p>
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--total">6.4 kg</p>
                            </div>
                            <div class="homepage__wrapper--ctn-content--summary-ctn--weights-card">
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--material">Cartón</p>
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--total">9 kg</p>
                            </div>
                            <div class="homepage__wrapper--ctn-content--summary-ctn--weights-card">
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--material">Aluminio</p>
                                <p class="homepage__wrapper--ctn-content--summary-ctn--weights-card--total">6.4 kg</p>
                            </div>
                        </div>

                        <div class="homepage__wrapper--ctn-content--summary-ctn--footer">
                            <p class="homepage__wrapper--ctn-content--summary-ctn--footer--left"> Excelente </p>
                            <p class="homepage__wrapper--ctn-content--summary-ctn--footer--right"> Has registrado todos los materiales el día de hoy </p>
                        </div>
                    </div>
                    <div class="homepage__wrapper--ctn-content--gallery-ctn"></div>
                    <div class="homepage__wrapper--ctn-content--materials-ctn"></div>

                </div>
            </div>

        </section>
    </main>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
{% endblock %}


