{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/dist/styles.css" %}">
    <title>Gestión de residuos</title>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
</head>
<body>
{% block content %}


{% endblock %}
{% include "core/components/gallerymodal.html" %}
{% include "core/components/generic-modal.html" %}

<script src="{% static "js/index.js" %}"></script>
</body>
</html>
</body>
</html>