@use "variables" as *;

*{
  font-family: $font;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monospace;
}



mark,
ins {
  text-decoration: none;
}

big {
  font-size: 125%;
}

body,
input,
select,
optgroup,
textarea {
  color: #000;
  font-size: 1rem;
}